{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block 'header' %}
{% endblock %}


{% block 'body' %}
 

   <div>
        {{ message }}
   </div>
  <div>
   <h5>Now you have to Upload the Government Identity Of you and Yout listing's address<h5>
  </div>
   <p>Listing ID: {{ listing_id }}</p>
   <a href="{% url 'my-form' id=listing_id %}" class="btn btn-primary my-2">Continue</a>

{% endblock %}


{% block 'footer' %}
{% endblock %}


{% block 'footer2' %}
{% endblock %}