{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}


{% block 'body' %}
 
<div class="container-fluid text-center py-5">
  <div class="container px-4 py-5" id="hanging-icons">
    <div class="row g-4">
      <div class="col d-flex align-items-start">
         <div>
            <h2 class="mb-3 border-bottom" style="color: black">List</h2>
         </div>
      </div>
    </div>
    <h1>MultiStep Form Submission</h1>
   <div>
    {% for d in data %}
        {{ d.title }}
        {{ d.description }}
        {{ d.price }}
   {% endfor %} 
  
   </div>
  </div>
</div>
{% endblock %}


{% block 'footer' %}
{% endblock %}
