{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block 'header' %}


 <!-- Navbar start -->
 <div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">Wolkite,Ethiopia</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">lemish@gmail.com</a></small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                <a href="#" class="text-white"><small class="text-white ms-2">Rent and Refunds</small></a>
            </div>
        </div>
    </div>
     
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="" class="navbar-brand"><h1 class="text-primary display-6">OHR</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    <a href="shop.html" class="nav-item nav-link">How it works</a>
                    <a href="" class="nav-item nav-link">Pricing</a>
                    <a href="" class="nav-item nav-link">Help</a>
                    <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>

                    <a href="{% url 'sign' %}" class="nav-item nav-link">Signup</a>
                    <a href="{% url 'master' %}" class="nav-item nav-link">Rent</a>
                    {% comment %} <a href="{% url 'dashboard' %}" class="nav-item nav-link">Dashboard</a> {% endcomment %}

                </div>
                <div class="d-flex m-3 me-0">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                   
            
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link" id="accountTrigger">
                        <div class="col-1">
                            {% if listing.seller.photo %}
                                <img src="{{ listing.seller.photo.url }}" class="rounded-circle" height="30" width="30" style="object-fit: cover;">
                            {% else %}
                                <!-- Placeholder image or alternative content when 'photo' is not available -->
                                <img src="{% static 'AdminStatic/images/user.png' %}" height="40" width="40" alt="">
                            {% endif %}
                        </div>
                    </a>


                    <div class="dropdown-menu m-0 bg-secondary rounded-0" id="accountDropdown">
                        <a href="{% url 'sign' %}" class="dropdown-item">Sign Up</a>
                        <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>

                      <a href="{% url 'logout' %}" class="dropdown-item">Sign out</a>
                    </div>
                  </div>
                  {% comment %} <div id="google_translate_element"></div> {% endcomment %}

        </nav>
    </div>
</div>
<!-- Navbar End -->

{% endblock %}
<br>
<br>
<br>
{% block 'body' %}

<div>
<img src="{% static 'images/bg_1.jpg' %}" class="img-fluid " style="width:2000px; height:500px;" alt="image">

</div>
<div>
    <h1 class="text-center">List your property for free.</h1>
</div>
<br>
<br>

<div class="container text-center">       
<div style="align-center">
<a href="{% url 'second' %}"  class="btn btn-success my-2">Get started</a>
</div>
</div>

<div class="container text-center">
    <div class="row justify-content-around">
    <div class"col-6">
        <h1 class="text-center">50.000+</h1>
        <p class="text-center">properties</p>
    </div>
    <div class="col-6">
        <h1 class="text-center">100.000+</h1>
        <p class="text-center">bookings</p>
    </div>
</div>
</div>



<div class="bg-info-subtle  container-fluid page-header py-5" style="height:500px">
    <div class="container text-center">
        <div>
            <h1 class="text-center">Everything you need to maximise your earnings.</h1>
        </div>
        <br>
        <br>
        <br>
        <div class="row justify-content-around">
          <div class="col-6">
            <h3 class="text-center" style="color:white">Protection from last-minute cancellations</h3>
            <p>To reserve accommodation, the tenant pays one month's rent in advance.
                 Has the tenant cancelled after confirmation? 
                 HousingAnywhere guarantees the first month's rent.</p>
          </div>
          <br>
          <br>
          <br>
          <div class="col-6">
            <h3 class="text-center" style="color:white">Find your perfect tenant with ease</h3>
            <p>Save time by only talking to those that you're interested in. 
                Set the preferences for your ideal tenant, 
                and receive messages from verified users who meet your criteria.</p>
          </div>
          <br>
            <br>
            <br>
        </div>
        <div class="row justify-content-around">
            <div class="col-6">
                <h3 class="text-center" style="color:white">Access to local and international tenants</h3>
                <p>Publish once and reuse whenever you need. 
                    Set custom prices, adjust availability, and block-off time for maintenance.
                     Enjoy complete control over your listings.</p>
            </div>
            <br>
            <br>
            <br>
            <div class="col-6">
                <h3 class="text-center" style="color:white">Get bookings months in advance</h3>
                <p>Publish once and reuse whenever you need. 
                    Set custom prices, adjust availability, and block-off time for maintenance.
                     Enjoy complete control over your listings.</p>
            </div>
            <br>
            <br>
            <br>
          </div>
      </div>
<br>
<br>
<br>
<div>
    <img src="{% static 'images/et.jpg' %}" class="img-fluid " style="width:700px; height:700px;" alt="image">
 </div>
<br>
<br>
<div>
    <h5 class="text-center">Pricing</h5>
</div>
<br>
<div>
    <h1 class="text-center">One price, all-inclusive.</h1>
</div>
<br>
<div>
    <h5 style="color:brown" class="text-center">Get all the essentials plus advanced features to power your growth.</h5>
</div>
<br>
<br>
<br>
<div class="container text-center col-lg-4">
    <div class="card mb-4 rounded-3 shadow-sm ">
      <div class="card-header py-3 bg-dark">
       <h1 style="color:white" class="my-0 fw-normal">25% fee*</h1>
       <p style="color:white">Per booking</p>
      </div>
      <br>
      <br>
      <div class="card-body">
        <p>Simple pricing. No hidden costs. Only pay when you see results.</p>
       {% comment %} <button class="w-100  btn-lg btn-outline-primary my-3">
          Send Email
       </button> {% endcomment %}
       <div style="align-center">
        <a href="{% url 'second' %}"  class="btn btn-primary my-2">Get started</a>
        </div>

      </div>
    </div>
     </div>
{% endblock %}


{% block 'footer2' %}

{% endblock %}



