{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block 'body' %}


  <!-- Single Page Header start -->
 <div class="container-fluid page-header py-5" style="background-color: #1877F2; height:50px">
    <h1 class="text-center text-white display-6">Post House</h1>
    <ol class="breadcrumb justify-content-center mb-3" style="background-color: #ffffff;">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active">Post</li>
    </ol>
</div> 

<br>
<br>
  
{% comment %} <div class="col d-flex align-items-start"> {% endcomment %}
    <div class="text-center mt-5 mr-8" >
       <h2 class="mb-3 text-info" style="color: black;font-family:serif; font-size: 30px;">Create your listing</h2>
    </div>
 {% comment %} </div> {% endcomment %}
<section class="vh-50" style="background-color: #eee; background-image: url('{% static 'images/house1.jfif' %}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 1000px;">
    <div class="container mt-5 ml-3 mb-3 fixed-width-container" style="width:1400px;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-3" style="margin-top:30px;margin-left:10px;width:300px'">
                <div class="row" style="width:500px">
                    <div class="col-12">
                        <br>
                        <h1 style="font-family:sans-serif;  font-size: 20px;" class="text-info ml-3">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h1>
                        <br>
                        {% comment %} <div class="col-12">
                            <div id="elephant-card" style="width:500px" class="row-12 card mb-4 active"> {% endcomment %}
                                <form action="" method="post" enctype="multipart/form-data" class="ml-3 mb-5">
                                    {% csrf_token %}
                                    <table>
                                        {{ wizard.management_form }}
                                        {% if wizard.form.forms %}
                                            {{ wizard.form.management_form }}
                                            {% for form in wizard.form.forms %}
                                                {{ form.as_table|crispy}}
                                            {% endfor %}
                                        {% else %}
                                            {{ wizard.form|crispy }}
                                        {% endif %}
                                        </table>
                                        {% if wizard.steps.prev %}
                                        <button class="btn btn-primary my-2 align-end"  name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button><br>
                                        <button class="btn btn-primary my-2 align-end" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
                                        {% endif %}
                                        <input class="btn btn-primary my-2 align-end" type="submit" value="{% translate "submit" %}"/>
                                 </form>
                            </div>
                          {% comment %} </div>
                        </div> {% endcomment %}
                       
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<br>
<br>
<br> 

{% endblock %}


{% block 'footer' %}

{% endblock %}
