{% extends 'base/adminbase.html' %}
{% load crispy_forms_tags %}
{% load static %}

    {% block 'body' %}
     <!-- Single Page Header start -->
 {% comment %} <div class="container-fluid page-header py-5" style="background-color: #1877F2; height:50px">
    <h1 class="text-center text-white display-6">Dashboard</h1>
    <ol class="breadcrumb justify-content-center mb-3" style="background-color: #ffffff;">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active">Post</li>
    </ol>
</div>  {% endcomment %}


<br>
<hr>
    <body>
        <div class="container-fluid ml-1">
            <div class="row flex-nowrap">
                <div class="col-auto px-0">
                    <div id="sidebar" class="collapse collapse-horizontal show border-end vh-100 shadow-sm" style=" background-color: #0F3057;">
                        <div id="sidebar-nav" class="list-group border-0 rounded-0" style=" background-color: #0F3057;">
                            <div class="p-2">
                                <h5 class="text-info">House Owner Dashboard</h5>
                            </div>
                            
                            <ul class="list-group" style=" background-color: #0F3057;">
                                <li class="list-group-item ml-3" style=" background-color: #0F3057;"><a href="{% url 'main:dashboard_owner' %}" class="text-decoration-none text-black"
                                  style="color:white"><i class="fa fa-tachometer" style="color: white;"></i><span style="margin-left: 10px;">Dashboard</a></span></li>
                                <li class="list-group-item ml-3" style=" background-color: #0F3057;"> <a href="{% url 'main:owner-listings' %}"
                                        class="text-decoration-none text-black" style="color:white"><i class="fa fa-list " style="color: white;"></i><span style="margin-left: 10px;">Listings</span></a> </li>
                                <li class="list-group-item ml-3" style=" background-color: #0F3057;"> <a href="{% url 'main:bookings_made' %}"
                                        class="text-decoration-none text-black" style="color:white"><i class="fa fa-calendar" style="color: white;"></i><span style="margin-left: 10px;">Bookings</span></a> </li>
                                <li class="list-group-item ml-3" style=" background-color: #0F3057;"> <a href="{% url 'main:Request' %}"
                                            class="text-decoration-none text-black" style="color:white"><i class="fa fa-clipboard " style="color: white;"></i><span style="margin-left: 10px;">Booking Request</span></a> </li>
                                {% comment %} <li class="list-group-item ml-3" style=" background-color: #0F3057;"> <a href="{% url 'main:payment_made' %}" {% endcomment %}
                                        {% comment %} class="text-decoration-none text-black" style="color:white"><i class="fa fa-money" style="color: white;"></i><span style="margin-left: 10px;">Payments</span></a> </li> {% endcomment %}
                                <li class="list-group-item ml-3" style=" background-color: #0F3057;"> <a href="{% url 'main:MIDI' %}"
                                            class="text-decoration-none text-black" style="color:white"><i class="fa fa-envelope " style="color: white;"></i><span style="margin-left: 10px;">Messages</span></a> </li>
        
                                <li class="list-group-item ml-3" style=" background-color: #0F3057;"><a href="{% url 'helpdesk' %}"
                                            class="text-decoration-none text-black" style="color:white"><i class="fa fa-question-circle" style="color: white;"></i><span style="margin-left: 10px;">Helpdesk</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>








                {% comment %} {% for payment in all_payments %}
                {% for booking in all_bookings %}
                    {% if booking.payment_id == payment.payment_id %}
                        <tr><td>
                            <span class="badge badge-secondary">{{payment.payment_id}}</span>
                        </td> 
                            <td>{{ payment.amount }}</td>
                            <td>{{ booking.refund_amount }}</td>
                            <td>{{ booking.payment_status }}</td>

                            <td>{{ payment.payer }}</td>
                            <td>{{ payment.recipient }}</td>
                            <td>{{ payment.timestamp }}</td>
                           
                        </tr>
                    {% endif %}
                {% empty %}
                    No booking found
                {% endfor %}
            {% empty %}
                <tr>
                    <td colspan="8">No payment history available.</td>
                </tr>
            {% endfor %} {% endcomment %}








                <div class="row bg-light card " style="margin-left:30px; margin-bottom:5px;">
                    <div id="meerkat-card" class="card mt-5 mb-4 row-4" style="width:1180px">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>Payment ID</th>
                                    <th>Amount</th>
                                    <th>Payer</th>
                                    <th>Recipient</th>
                                    <th>Timestamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if payments  %}
                                {% for A in payments %}
                                {% for booking in all_bookings %}
                                {% if booking.payment_id == A.payment_id %}
                                {% if booking.booking_status == 'confirmed' %}

                                <tr>
                                <td>
                                    <span class="badge badge-secondary">{{A.payment_id |stringformat:"s"|slice:":5" }}</span>
                                </td> 
                                    
                                        <td>{{ A.amount }}</td>
                                        <td>{{ A.payer }}</td>
                                        <td>{{ A.recipient }}</td>
                                        <td>{{ A.timestamp }}</td>
                                    </tr>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                                {% else %}
                                No payment history available.
                                {% endif %}
                            </tbody>
                        </table>
                   
                  
                  </div>
                </div>
              
            </div>
        </div>



{% endblock %}

{% block 'footer' %}
{% endblock %}



