{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block 'header' %}


 <!-- Navbar start -->
 <div class="container-fluid fixed-top"> 
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="" class="navbar-brand"><h1 class="text-primary display-6">OHR</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    <a href="shop.html" class="nav-item nav-link">How it works</a>
                    <a href="" class="nav-item nav-link">Pricing</a>
                    <a href="" class="nav-item nav-link">Help</a>
                    <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>

                    <a href="{% url 'sign' %}" class="nav-item nav-link">Signup</a>
                    <a href="{% url 'master' %}" class="nav-item nav-link">Rent</a>
                    <a href="{% url 'dashboard' %}"  class="btn btn-primary my-2 " class="nav-item nav-link">Go to Dashboard</a> 

                </div>
                <div class="d-flex m-3 me-0">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                   
            
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link" id="accountTrigger">
                      <i class="fas fa-user fa-2x"></i>
                    </a>
                    <div class="dropdown-menu m-0 bg-secondary rounded-0" id="accountDropdown">
                        <a href="{% url 'sign' %}" class="dropdown-item">Sign Up</a>
                        <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>

                      <a href="{% url 'logout' %}" class="dropdown-item">Sign out</a>
                    </div>
                  </div>
                  {% comment %} <div id="google_translate_element"></div> {% endcomment %}

        </nav>
    </div>
</div>
<!-- Navbar End -->
<br>
<br>
<br>
<br>

{% endblock %}

{% block 'body' %}
<hr style="border-color: black; border-width: 2px; margin-top: 20px; margin-bottom: 20px;">
<div class="container text-center col-lg-4">
    <h2 style="text-center">Listing options</h2>
    <p>Select one of the options below to start listing your property.</p>
</div>
<br>
<h5 class="container text-center col-lg-4" style="text-center">Regular listings</h5>

           <br>       
        <div class="container">
          <div class="col mt-2">
              <div class="col-12">
                  <form>
                      <div class="form-group row">
                          <div>
                              <div class="card-deck">
                                  <div id="elephant-card" class="row-4 card mb-4 active">
                                      <div class="card-body" role="button">
                                          <h5 class="card-title"><input id="elephant" type="radio" checked="">
                                              <label for="elephant">Elephant</label></h5>
                                          <p class="card-text">It is a long established fact that a reader will be
                                              distracted by the readable content of a page when looking at its layout.</p>
                                      </div>
                                  </div>
                                  
                                  <div id="meerkat-card" class="card mb-4 row-4 ">
                                      <div class="card-body" role="button">
                                          <h5 class="card-title"><input id="meerkat" type="radio"> <label
                                                  for="meerkat">Meerkat</label></h5>
                                          <p class="card-text">It is a long established fact that a reader will be
                                              distracted by the readable content of a page when looking at its layout.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="container text-center col-lg-4">
        <a href="{% url 'listing' %}"  class="btn btn-primary my-2">Continue</a>
    </div>
      
    
{% endblock %}









{% block 'footer' %}

{% endblock %}

{% block 'footer2' %}

{% endblock %}