{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block 'header' %}


 <!-- Navbar start -->
 <div class="container-fluid fixed-top"> 
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="" class="navbar-brand"><h1 class="text-primary display-6">OHR</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    <a href="shop.html" class="nav-item nav-link">How it works</a>
                    <a href="" class="nav-item nav-link">Pricing</a>
                    <a href="" class="nav-item nav-link">Help</a>
                    <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>

                    <a href="{% url 'sign' %}" class="nav-item nav-link">Signup</a>
                    <a href="{% url 'master' %}" class="nav-item nav-link">Rent</a>
                    <a href="{% url 'dashboard_owner' %}"  class="btn btn-primary my-2 " class="nav-item nav-link">Go to Dashboard</a> 

                </div>
                <div class="d-flex m-3 me-0">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                   
            
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link" id="accountTrigger">
                      <i class="fas fa-user fa-2x"></i>
                    </a>
                    <div class="dropdown-menu m-0 bg-secondary rounded-0" id="accountDropdown">
                        <a href="{% url 'sign' %}" class="dropdown-item">Sign Up</a>
                        <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>

                      <a href="{% url 'logout' %}" class="dropdown-item">Sign out</a>
                    </div>
                  </div>
                  {% comment %} <div id="google_translate_element"></div> {% endcomment %}

        </nav>
    </div>
</div>
<!-- Navbar End -->
<br>
<br>
<br>
<br>

{% endblock %}

{% block 'body' %}

<section style="background-color: #eee; background-image: url('{% static 'images/geo.jfif' %}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 1000px;">
<hr style="border-color: black; border-width: 2px; margin-top: 20px; margin-bottom: 20px;">
<div class="container text-start col-lg-4" style="margin-left:290px">
    <h2 style="text-center">Listing options</h2>
    <p>Select one of the options below to start listing your property.</p>
</div>
<br>
<h5 class="container col-lg-4" style="margin-left:290px; color: #000333;">First You have to upload your government Id and the address of your House</h5>

           <br>       
        <div class="container">
          <div class="col mt-2">
              <div class="col-12">
                
                      <div class="col-8">
                                 {% comment %} <div class="card-deck ">  {% endcomment %}
                                  <div id="elephant-card" class="row-4 card mb-4 active">
                                      
                                   <form method="POST" action="{% url 'second' %}" enctype="multipart/form-data" style="margin-left:80px;width:300px">
                                   {% csrf_token %}
                                   
                                   {{ form|crispy }}
                                   <button type="submit" style="width:200px" class="btn btn-primary my-2">Upload</button>
                                    </form>
                                      <div class="card-body" role="button">
                                          <h5 class="card-title">
                                             
                                          <p class="card-text">Select this option to create a new listing from scratch.</p>
                                      </div>
                                  </div>
                                  
                                  <div id="meerkat-card" class="card mb-4 row-4 ">
                                    
                                      <div class="card-body" role="button">
                                       
                                          
                                               
                                          <p class="card-text">Select this option if you want to create 
                                            a listing that is quite similar to a listing that you already listed.</p>
                                      </div>
                                  </div>
                                {% comment %} </div> {% endcomment %}
                          
                        </div>
                  

                  
              </div>
          </div>
      </div>
      {% comment %} <div class="container text-start col-lg-4">  {% endcomment %}
        <button href="{% url 'multistepformsubmission' %}"  style="margin-left:350px;width:200px" class="btn btn-primary my-2">Continue</button>
    {% comment %} </div>  {% endcomment %}
       

    <input type="text" id="tags"> 
	<script>
        $(function() {
          var availableTags = [
            {% for add in showaddress %}
              "{{ add.Address }}",
            {% endfor %}
          ];
      
          $("#tags").autocomplete({
            source: availableTags,
            select: function(event, ui) {
              // When an option is selected from the autocomplete dropdown
              $("#warning").hide(); // Hide the warning message
            },
            change: function(event, ui) {
              // When the input value is changed
              if (!ui.item) {
                // If the selected item is not from the autocomplete options
                $("#tags").val(""); // Clear the input value
                $("#warning").show(); // Show the warning message
              }
            }
          });
        });
      </script>
     
      


    

</section>
{% endblock %}









{% block 'footer' %}

{% endblock %}

{% block 'footer2' %}

{% endblock %}