<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>House Rental</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'AdminStatic/images/favicon.png' %}">
    <!-- Pignose Calender -->
    <link href="{% static 'AdminStatic/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'AdminStatic/plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'AdminStatic/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'AdminStatic/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        tr,td,th{
            padding-left: 15px;
        }
    </style>
</head>


<body>

    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
        {{ message }}
        {{ message.tags }}
    </div>
    {% endfor %}
    {% endif %}
          
       

       {% block 'header' %}

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header bg-white">
            <div class="brand-logo">
                <a href="/">
                <span class="brand-title align-item-start">
                    {% comment %} <img src="{% static 'AdminStatic/images/user.png' %}" height="40" width="40" alt=""> {% endcomment %}
                    <span><i class="fa fa-house"></i>HOME</span>
                    </span>
                </a>
                
            </div>
           
        </div>
        
        <!--**********************************
            Nav header end
        ***********************************-->
    
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header" style="background-color:#1877F2 ; height:150px">
            <div class="header-content clearfix">
    
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i  class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        
                        <form action="/rent-house/" method="POST">
                            <br>
                            <br>
                            <br>
                            {% csrf_token %}
                            {% block 'search' %}
                            <input type="text" name="search" class="form-control" placeholder="Search By City...">
                            {% endblock %}
                        </form>
                        <div class="drop-down animated flipInX d-md-none">
                            
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                {% comment %} {% if request.user.userprofile_set.first.profilePicture %}
                                <img src="{{request.user.userprofile_set.first.profilePicture.url}}" style="border-radius: 50%;" height="100" width="100" alt="">
                                {% else %} {% endcomment %}
                                <img src="{% static 'AdminStatic/images/user.png' %}" height="40" width="40" alt="">
                                {% comment %} {% endif %} {% endcomment %}
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="/profile/"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="/change-password/"><i class="icon-lock"></i> <span>Change Password</span></a>
                                        </li>
                                        <li><a href="/logout/"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
     {% endblock %}




        {% block 'body' %}

        {% endblock %}
        





      
        {% block 'footer2' %}
        <!-- Copyright Start -->
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-white"><a href="#"><i class="fas fa-copyright text-white me-2"></i>OHR</a>, All right reserved.</span>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Copyright End -->
     {% endblock %}



       

        <script src="{% static 'AdminStatic/plugins/common/common.min.js '%}"></script>
        <script src="{% static 'AdminStatic/js/custom.min.js '%}"></script>
        <script src="{% static 'AdminStatic/js/settings.js '%}"></script>
        <script src="{% static 'AdminStatic/js/gleek.js '%}"></script>
        <script src="{% static 'AdminStatic/js/styleSwitcher.js '%}"></script>

        <!-- Chartjs -->
        <script src="{% static 'AdminStatic/plugins/chart.js/Chart.bundle.min.js' %}"></script>
        <!-- Circle progress -->
        <script src="{% static 'AdminStatic/plugins/circle-progress/circle-progress.min.js' %}"></script>
        <!-- Datamap -->
        <script src="{% static 'AdminStatic/plugins/d3v3/index.js' %}"></script>
        <script src="{% static 'AdminStatic/plugins/topojson/topojson.min.js' %}"></script>
        <script src="{% static 'AdminStatic/plugins/datamaps/datamaps.world.min.js' %}"></script>
        <!-- Morrisjs -->
        <script src="{% static 'AdminStatic/plugins/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'AdminStatic/plugins/morris/morris.min.js' %}"></script>
        <!-- Pignose Calender -->
        <script src="{% static 'AdminStatic/plugins/moment/moment.min.js' %}"></script>
        <script src="{% static 'AdminStatic/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
        <!-- ChartistJS -->
        <script src="{% static 'AdminStatic/plugins/chartist/js/chartist.min.js' %}"></script>
        <script src="{% static 'AdminStatic/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>



        <script src="{% static 'AdminStatic/js/dashboard/dashboard-1.js' %}"></script>

      
</body>

</html>