<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>House Rental</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'AdminStatic/images/favicon.png' %}">
    <!-- Pignose Calender -->
    <link href="{% static 'AdminStatic/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'AdminStatic/plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'AdminStatic/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'AdminStatic/css/style.css' %}" rel="stylesheet">
    <style>
        tr,td,th{
            padding-left: 15px;
        }
    </style>
</head>

<body>

    {% block 'header' %}
    
    {% endblock %}

 

{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
    {{ message }}
    {{ message.tags }}
</div>

{% endfor %}
{% endif %}

 <!-- Spinner Start -->
 <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->





{% block 'body' %}

{% endblock %}
    




        <script src="{% static 'AdminStatic/plugins/common/common.min.js '%}"></script>
        <script src="{% static 'AdminStatic/js/custom.min.js '%}"></script>
        <script src="{% static 'AdminStatic/js/settings.js '%}"></script>
        <script src="{% static 'AdminStatic/js/gleek.js '%}"></script>
        <script src="{% static 'AdminStatic/js/styleSwitcher.js '%}"></script>

        <!-- Chartjs -->
        <script src="{% static 'AdminStatic/plugins/chart.js/Chart.bundle.min.js' %}"></script>
        <!-- Circle progress -->
        <script src="{% static 'AdminStatic/plugins/circle-progress/circle-progress.min.js' %}"></script>
        <!-- Datamap -->
        <script src="{% static 'AdminStatic/plugins/d3v3/index.js' %}"></script>
        <script src="{% static 'AdminStatic/plugins/topojson/topojson.min.js' %}"></script>
        <script src="{% static 'AdminStatic/plugins/datamaps/datamaps.world.min.js' %}"></script>
        <!-- Morrisjs -->
        <script src="{% static 'AdminStatic/plugins/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'AdminStatic/plugins/morris/morris.min.js' %}"></script>
        <!-- Pignose Calender -->
        <script src="{% static 'AdminStatic/plugins/moment/moment.min.js' %}"></script>
        <script src="{% static 'AdminStatic/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
        <!-- ChartistJS -->
        <script src="{% static 'AdminStatic/plugins/chartist/js/chartist.min.js' %}"></script>
        <script src="{% static 'AdminStatic/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>



        <script src="{% static 'AdminStatic/js/dashboard/dashboard-1.js' %}"></script>

      
</body>

</html>