{% extends 'base/adminbase.html' %}
{% load crispy_forms_tags %}
{% load static %}





{% block 'search' %}
<input type="text" name="search" class="form-control" placeholder="Search By User Name...">
{% endblock %}


{% block 'body' %}



<!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="text-center">
            <section class="vh-110" style="background-color:white;">
              <div class="container py-5" >
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col col-xl-10">
                    <div class="card" style="border-radius: 0rem; width:600px">
                      <div class="row g-0">
                        <div class="login-page">
            <div class="form" style="margin-left:50px">
                <div class="row register-form" >
                    <form action="/add-house-owner/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if msg %}
                        <center style="color: red;">{{msg}}</center>
                        {% endif %}
                        <br>
                        <div class="col-md-6">
                            <div class="col-md-12">
                            <div class="form-group">
                                <input  style="width:400px" type="text" class="form-control" placeholder="First Name *" value=""
                                    name="first_name" required />
                            </div>
                            </div>
                            <br>
        
                            <div class="col-md-12">
                            <div class="form-group">
                                <input  style="width:400px" type="text" class="form-control" placeholder="Last Name *" value=""
                                    name="last_name" required />
                            </div>
                            </div>
                            <br>
        
                            <div class="col-md-12">
                                <div class="form-group">
                                    
                                <input  style="width:400px" type="email" class="form-control" placeholder="Email *" value="" name="email"
                                    required />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                            </div>
                            </div>
        
                            <br>
                            <div class="col-md-12">
                            <div class="form-group">
                                <input  style="width:400px" type="number" min="10" minlength="10" maxlength="10" name="contact"
                                    class="form-control" placeholder="User Phone " value="" required />
                            </div>
                            </div> 
                            <br>
                            
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <input  style="width:400px" type="text" class="form-control" placeholder="Address*" value="" name="address"
                                        required />
                                </div>
                            </div>
                            <br>
                           
                            <div class="col-md-12">
                            <div class="form-group">
                                <input  style="width:400px" type="text" class="form-control" placeholder="User Name*" value=""
                                    name="username" required />
                            </div>
                            </div>
        
                            <br>
                            <div class="col-md-12">
                            <div class="form-group">
                                <input  style="width:400px" type="password" minlength="4" maxlength="10" class="form-control"
                                    placeholder="Password*" value="" name="pass1" required />
                            </div>
                            </div>
        
                            <br>
                            <div class="col-md-12">
                            <div class="form-group">
                                <input  style="width:400px" type="password" class="form-control" placeholder="Confirm Password*" value=""
                                    name="pass2" required />
                            </div>
                            </div>
                            <br>
                            <div class="col-md-12">
                            <div class="form-group">
                                <input style="width:400px" type="file" name="pic" class="form-control" placeholder="upload your photo"
                                    value="" required />
                            </div> 
                            </div>
                            <br>
                            <div class="col-md-12">
                            <input type="submit" style="color: white; width:400px" value="Register" class="btn btn-primary">
                            <!--  <input type="submit" class="btnRegister"  value="Register"/> -->
                            </div>
                        </div>
                        <br>
                </div>
                {% comment %} <p class="message"> Already have an Account??<a href="/login/">Login here..</a></p> {% endcomment %}
            </div>
          
        
        
        </div>
        </div>
        </div>
        </div>
        </form>
        
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
        </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->

    <section style="height:290px">
        <!--**********************************
           Sidebar start
       ***********************************-->
       <div class="nk-sidebar" style="background-color:#0F3057">
           <div class="">
               <br>
               <br>
               <br>
               <ul class="metismenu" id="menu" style=" background-color: #0F3057;">
                   <li>
                       <a href="{% url 'board' %}" aria-expanded="false">
                           <span class="nav-text" style="color:white" class="text-decoration-none"><i class="fa fa-clipboard mr-2"></i>    Dashboard</span>
                       </a>
                   </li>
                
                   <li class="mega-menu mega-menu-sm" style=" background-color: #0F3057;">
                      
                       <a class="has-arrow">
                           <i class="icon-screen-tablet menu-icon"></i>
                           <span class="nav-text" style="color:white" class="text-decoration-none"><i class="fa fa-user-circle mr-3"></i>Admin</span>
                       </a>
                      

                       <ul style=" background-color: #0F3057;">
                        {% if user.is_superuser %} 
                        <li><a href="/all-user/" class="ml-0" style="color:white" class="text-decoration-none"><i class="fa fa-users" style="color: white;"></i>    All User</a></li>
                        {% endif %}
                     
                        <li><a href="{% url 'approve-owner' %}"  style="color:white" class="text-decoration-none"><i class="fa fa-list-alt" style="color: white;"></i>    Approve Listings</a></li>
                        
                        
                        
                        
                        <li><a href="{% url 'display_all_payments' %}" style="color:white; font-family: sans-serif;"><i class="fa fa-building" style="color: white;"></i>    Payment History</a></li>
                        <li><a href="{% url 'all_bookings' %}" style="color:white" class="text-decoration-none"><i class="fa fa-building" style="color: white;"></i>    Bookings</a></li>
                        <li><a href="{% url 'manage-customer' %}" style="color:white" class="text-decoration-none"><i class="fa fa-users" style="color: white;"></i>    Manage Users</a></li>
                        <li>
                            <a href="/admin-helpdesk/" style="color:white" class="text-decoration-none"><i class="fa fa-life-ring" style="color: white;"></i>    Admin Helpdesk</a>
                        </li>

                        <li>
                            {% if user.is_superuser or user.is_staff  %}
                            <a href="{% url 'add-admin' %}" style="color:white" class="text-decoration-none"><i class="fa fa-user" style="color: white;"></i>    Add admin</a>
                            {% endif %}
                        </li>

                       </ul>
                   </li>
                   {% comment %} {% endif %} {% endcomment %}
               </ul>
           </div>
       </div>
       <hr style="border-color: black; border-width: 2px; margin-top: 20px; margin-bottom: 20px; width:200px;">
   </section>
    {% endblock %}

    