{% extends 'base/adminbase.html' %}
{% load crispy_forms_tags %}
{% load static %}








    {% block 'body' %}

    <section  style="background-color: #eeeeee;height:500px">
    <div class="content-body">
         
        <div class="col ps-md-2 pt-2">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
                class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list"></i></a>
           
            <hr>
            {% comment %} <div class="content-body ml-5 mr-5 bg-light" style="margin-left:3px">

                <div class="content-body ml-5 mr-5" style="margin-left:3px"> {% endcomment %}
                    <div class="container-fluid mt-3" style="margin-left:5px">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="card gradient-3">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Your Total Listings</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white value-float" id="total-rejected-request-value">{{ total_listings }}</h2>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="card gradient-1">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Pending Listings</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white value-float" id="total-accepted-request-value">{{ pendings }}</h2>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="card gradient-3">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Accepted Listings</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white value-float" id="total-rejected-request-value">{{ accepted_listings}}</h2>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="card gradient-1">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Booking Requests</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white value-float" id="total-accepted-request-value">{{ booking_requests}}</h2>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="card gradient-3">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Accepted Requests</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white value-float" id="total-rejected-request-value">{{ accepted_requests }}</h2>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="card gradient-1">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Rejected Requests</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white value-float" id="total-accepted-request-value">{{ rejected_requests }}</h2>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="card gradient-3">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Total Rejected Request</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white value-float" id="total-rejected-request-value">4565</h2>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="card gradient-1">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Total Accepted Request</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white value-float" id="total-accepted-request-value">8541</h2>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="card gradient-3">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Total Rejected Request</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white value-float" id="total-rejected-request-value">4565</h2>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</section>
    <section class="mt-0" style="height:290px; background-color:#eeeeee">
        <!--**********************************
           Sidebar start
       ***********************************-->
       <div class="nk-sidebar" style="background-color:#0F3057">
           <div class="">
               <br>
               <br>
               <br>
               <ul class="metismenu" id="menu" style=" background-color: #0F3057;">
                   <li>
                       <a href="{% url 'board' %}" aria-expanded="false">
                           <span class="nav-text" style="color:white" class="text-decoration-none"><i class="fa fa-clipboard mr-2"></i>    Dashboard</span>
                       </a>
                   </li>
                
                   <li class="mega-menu mega-menu-sm" style=" background-color: #0F3057;">
                      
                       <a class="has-arrow">
                           <i class="icon-screen-tablet menu-icon"></i>
                           <span class="nav-text" style="color:white" class="text-decoration-none"><i class="fa fa-user-circle mr-3"></i>Admin</span>
                       </a>
                      

                       <ul style=" background-color: #0F3057;">
                        {% if user.is_superuser %} 
                        <li><a href="/all-user/" class="ml-0" style="color:white" class="text-decoration-none"><i class="fa fa-users" style="color: white;"></i>  All User</a></li>
                        {% endif %}
                     
                        <li><a href="{% url 'approve-owner' %}"  style="color:white" class="text-decoration-none"><i class="fa fa-list-alt" style="color: white;"></i>    Approve Listings</a></li>
                        

                        
                        
                        <li><a href="{% url 'display_all_payments' %}" style="color:white; font-family: sans-serif;"><i class="fa fa-building" style="color: white;"></i>    Payment History</a></li>
                        <li><a href="{% url 'all_bookings' %}" style="color:white" class="text-decoration-none"><i class="fa fa-building" style="color: white;"></i>    Bookings</a></li>
                        <li><a href="{% url 'manage-customer' %}" style="color:white" class="text-decoration-none"><i class="fa fa-users" style="color: white;"></i>    Manage Users</a></li>
                        <li>
                            <a href="/admin-helpdesk/" style="color:white" class="text-decoration-none"><i class="fa fa-life-ring" style="color: white;"></i>    Admin Helpdesk</a>
                        </li>

                        <li>
                            {% if user.is_superuser or user.is_staff  %}
                            <a href="{% url 'add-admin' %}" style="color:white" class="text-decoration-none"><i class="fa fa-user" style="color: white;"></i>    Add admin</a>
                            {% endif %}
                        </li>

                       </ul>

                       
                   <ul>
                            
                   {% include 'payment/seeNotifications.html' %}

                   </ul>
                   </li>
                   {% comment %} {% endif %} {% endcomment %}
               </ul>
           </div>
       </div>
       <hr style="border-color: black; border-width: 2px; margin-top: 20px; margin-bottom: 20px; width:200px;">
   </section>
{% endblock %}






      

