{% extends 'base/adminbase.html' %}
{% load crispy_forms_tags %}
{% load static %}








    {% block 'body' %}
    <section style="height:500px">
         <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar bg-info" >
            <div class="">
                <br>
                <br>
                <br>
                <ul class="metismenu" id="menu" style=" background-color: #007A87;">
                    <li>
                        <a href="{% url 'board' %}" aria-expanded="false">
                           
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text" style="color:white">Dashboard</span>
                        </a>
                    </li>
                 
                    <li class="mega-menu mega-menu-sm" style=" background-color: #007A87;">
                        <a class="has-arrow">
                            <i class="icon-screen-tablet menu-icon"></i>
                            <span class="nav-text" style="color:white"> Admin</span>
                        </a>
                        <ul style=" background-color: #007A87;">
                            <li><a href="/all-user/" style="color:white">All User</a></li>
                            {% comment %} {% if request.user.userprofile_set.first.verified == True %} {% endcomment %}
                            <li><a href="{% url 'approve-owner' %}" style="color:white">Approve Owner Listing</a></li>
                            
                            <li><a href="/approve-admin/" style="color:white">Admin Panel</a></li>
                            {% comment %} {% endif %} {% endcomment %}
                            
                            <li><a href="/rent-house/" style="color:white">Manage Owner</a></li>
                            <li><a href="{% url 'manage-customer' %}" style="color:white">Manage Customer</a></li>
                            <li>
                                <a href="/admin-helpdesk/" style="color:white">Admin Helpdesk</a>
                            </li>

                            <li>
                                <a href="{% url 'add-admin' %}" style="color:white">Add admin</a>
                            </li>

                        </ul>
                    </li>
                    {% comment %} {% endif %} {% endcomment %}
                </ul>
            </div>
        </div>
        <hr style="border-color: black; border-width: 2px; margin-top: 20px; margin-bottom: 20px; width:200px;">
    </section>
{% endblock %}







      

