{% extends 'base/adminbase.html' %}
{% load static %}





{% block 'search' %}
<input type="text" name="search" class="form-control" placeholder="Search First Name...">
{% endblock %}

{% block 'body' %}
<!--**********************************
            Sidebar end
        ***********************************-->

<!--**********************************
            Content body start
        ***********************************-->
<section>
<div class="container-fluid mt-3">
    <div class="container" style="margin-left: 300px;">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 1200px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 col-">
                                <h4 class="page-title" style="margin-left: 20px; float: left;">Manage User</h4>
                                <form action="/all-user/" method="POST" style="float: right;" class="form-group">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" name="search"
                                        placeholder="Search First Name.." required>
                                </form>

                            </div>

                            <div class="col-sm-8 col-9 text-right m-b-20">

                                {% if request.user.userprofile_set.first.verified == True %}
                                <a href="/add-admin/" class="btn btn-primary btn-rounded float-right"><i
                                        class="fa fa-plus"></i> Add Admin</a>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>DOB</th>
                                        <th>Contact No.</th>
                                        <th>Address</th>
                                        <th>Gender</th>
                                        <th>User Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if user %}
                                    {% for u in user %}
                                    <tr>
                                        <td>{{u.id}}</td>
                                        <td>{{u.user.first_name}} {{u.user.last_name}}</td>
                                        <td>{{u.user.email}}</td>
                                        <td>{{u.contact_No}}</td>
                                        <td>{{u.address}}</td>
                                        <td>{{u.userType}}</td>
                                        <td>
                                            <a href="/view-user/{{u.id}}/" class="btn btn-success text-white"
                                                title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            <a href="/edit-profile/{{u.id}}/" class="btn btn-info text-white"
                                                title="Edit"><i class="fa fa-pencil-square-o"
                                                    aria-hidden="true"></i></a>
                                            {% if request.user.userprofile_set.first.verified == True %}
                                            <a href="/delete-user/{{u.user.id}}/" title="Delete"
                                                class="btn btn-danger text-white"><i class="fa fa-trash"
                                                    aria-hidden="true"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    No User Found..
                                    {% endif %}
                                </tbody>
                            </table>

                            {% if user.has_other_pages %}
                            <ul class="pagination">
                                {% if user.has_previous %}
                                <li><a href="?page={{ user.previous_page_number }}" class="btn btn-primary">&laquo;</a>
                                </li>
                                {% else %}
                                <li class="disabled btn btn-primary"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in user.paginator.page_range %}
                                {% if user.number == i %}
                                <li class="active btn btn-primary"><span>{{ i }} <span
                                            class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}" class="btn btn-primary">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if user.has_next %}
                                <li><a href="?page={{ user.next_page_number }}" class="btn btn-primary">&raquo;</a></li>
                                {% else %}
                                <li class="disabled btn btn-primary"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
</section>
<!--**********************************
        Main wrapper end
    ***********************************-->

<!--**********************************
        Scripts
    ***********************************-->

    <section style="height:700px">
        <!--**********************************
           Sidebar start
       ***********************************-->
       <div class="nk-sidebar">
           <div class="">
               <br>
               <ul class="metismenu" id="menu">
                   <li>
                       <a href="{% url 'dashboard2' %}" aria-expanded="false">
                           <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                       </a>
                   </li>
                   {% comment %} {% if request.user.userprofile_set.first.userType == "Public" %} {% endcomment %}
                   {% comment %} <li class="mega-menu mega-menu-sm">
                       <a class="has-arrow" href="javascript:void()">
                           <i class="icon-globe-alt menu-icon"></i><span class="nav-text">User</span>
                       </a>
                       <ul aria-expanded="false">
                           <li><a href="/rent-house/">Rent House</a></li>
                           <li><a href="/my-booking/">My Booking</a></li>
                           <li><a href="/helpdesk/">User Helpdesk</a></li>
                       </ul>
                   </li> {% endcomment %}
                   {% comment %} {% endif %}
                   {% if request.user.userprofile_set.first.userType == "Owner" %} {% endcomment %}
                   {% comment %} <li class="mega-menu mega-menu-sm">
                       <a class="has-arrow" >
                           <i class="icon-envelope menu-icon"></i> 
                           <span class="nav-text">House Owner</span>
                       </a>
                       <ul aria-expanded="false">
                           <li><a href="/rent-house/">My House</a></li>
                           <li><a href="/customer-request/">Customer Request</a></li>
                           <li><a  href="/approved-customer/">Approved Customers</a></li>
                           <li><a href="/admin-helpdesk/">Help Desk</a></li>
                       </ul>
                   </li> {% endcomment %}
                   {% comment %} {% endif %}
                   {% if request.user.userprofile_set.first.userType == "Admin" %} {% endcomment %}
                   <li class="mega-menu mega-menu-sm">
                       <a class="has-arrow">
                           <i class="icon-screen-tablet menu-icon"></i>
                           <span class="nav-text">Admin</span>
                       </a>
                       <ul>
                           <li><a href="/all-user/">All User</a></li>
                           {% comment %} {% if request.user.userprofile_set.first.verified == True %} {% endcomment %}
                           <li><a href="{% url 'approve-owner' %}">Approve Owner</a></li>
                           
                           <li><a href="/approve-admin/">Approve Admin</a></li>
                           {% comment %} {% endif %} {% endcomment %}
                           <li><a href="/rent-house/">House</a></li>
                           <li>
                               <a href="/admin-helpdesk/">Admin Helpdesk</a>
                           </li>

                       </ul>
                   </li>
                   {% comment %} {% endif %} {% endcomment %}
               </ul>
           </div>
       </div>
       <hr style="border-color: black; border-width: 2px; margin-top: 20px; margin-bottom: 20px; width:200px;">
   </section>
{% endblock %}