{% extends 'base/adminbase.html' %}
{% load crispy_forms_tags %}
{% load static %}





{% block 'search' %}
<input type="text" name="search" class="form-control" placeholder="Search By User Name...">
{% endblock %}


{% block 'body' %}



<!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
<section  style="height:500px; background-color: #fff;">
        <div class="container-fluid mt-3">
            <div class="container" style="margin-left: 300px;">
                <div class="row">
                    <div class="col-12" style="height: 400px;">
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Approve Owner Listings</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>User Name</th>
                                                <th>Listing Type</th>
                                                <th>Address</th>
                                                <th>Price</th>
                                                <th>Available From</th>
                                                <th>House Owner</th>
                                                <th>Created At</th>
            
                                                <th>Approve</th>
                                                <th>Images</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if listing %}
                                            {% for L in listing %}
                                            <tr>
                                                <td>{{L.seller.user.username}}</td>
                                                <td>{{L.house_kind}}</td>
                                                <td>{{L.address}}</td>
                                                <td>{{L.price}}</td>
                                                
                                                <td>{{L.available_start}}</td>
                                                <td>{{L.seller.user.first_name}} {{ L.seller.user.last_name }}</td>
                                                <td>{{L.created_at}}</td>
                                             
                                                <td>
                                                    <a href="/approve-owner-request/{{L.id}}/" class="btn btn-success text-white" title="Verify"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                    <a href="/delete-user/{{L.seller.user.id}}/" class="btn btn-danger text-white" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'retrieve_images' L.id %}" class="btn btn-secondary text-white "><i class="fa fa-eye"></i> See Images</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            No Owner with status UnVerified.
                                            {% endif %}
                                        </tbody>
                                    </table>

                                    
                            {% if listing.has_other_pages %}
                            <ul class="pagination">
                                {% if listing.has_previous %}
                                <li><a href="?page={{ listing.previous_page_number }}" class="btn btn-primary">&laquo;</a>
                                </li>
                                {% else %}
                                <li class="disabled btn btn-primary"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in listing.paginator.page_range %}
                                {% if listing.number == i %}
                                <li class="active btn btn-primary"><span>{{ i }} <span
                                            class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}" class="btn btn-primary">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if listing.has_next %}
                                <li><a href="?page={{ listing.next_page_number }}" class="btn btn-primary">&raquo;</a></li>
                                {% else %}
                                <li class="disabled btn btn-primary"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->

    <section style="height:290px">
        <!--**********************************
           Sidebar start
       ***********************************-->
       <div class="nk-sidebar bg-dark">
           <div class="">
               <br>
               <ul class="metismenu" id="menu" style=" background-color: #1877F2;">
                   <li>
                       <a href="{% url 'board' %}" aria-expanded="false">
                           <i class="icon-speedometer menu-icon"></i><span class="nav-text" style="color:white; font-family: sans-serif;"><i class="fa fa-clipboard"></i> Dashboard</span>
                       </a>
                   </li>
                   <li class="mega-menu mega-menu-sm" style=" background-color: #1877F2;">
                       <a class="has-arrow">
                           <i class="icon-screen-tablet menu-icon"></i>
                           <span class="nav-text" style="color:white; font-family: sans-serif;"><i class="fa fa-user-circle"></i> Admin</span>
                       </a>
                       <ul style=" background-color: #1877F2;">
                        {% if user.is_superuser or user.is_staff  %} 
                        <li><a href="/all-user/" style="color:white; font-family: sans-serif;"><i class="fa fa-users" style="color: white;"></i>All User</a></li>
                        {% endif %}
                        {% comment %} {% if request.user.userprofile_set.first.verified == True %} {% endcomment %}
                        <li><a href="{% url 'approve-owner' %}" style="color:white; font-family: sans-serif;"><i class="fa fa-list-alt" style="color: white;"></i>Approve Listings</a></li>
                        
                        <li><a href="/approve-admin/" style="color:white; font-family: sans-serif;"><i class="fa fa-columns" style="color: white;"></i>Admin Panel</a></li>
                        {% comment %} {% endif %} {% endcomment %}
                        
                        <li><a href="{% url 'manage-owner-task' %}" style="color:white; font-family: sans-serif;"><i class="fa fa-home" style="color: white;"></i>Manage Owner Task</a></li>
                        <li><a href="" style="color:white; font-family: sans-serif;"><i class="fa fa-building" style="color: white;"></i>Manage Tenant Task</a></li>
                        <li><a href="{% url 'manage-customer' %}" style="color:white; font-family: sans-serif;"><i class="fa fa-users" style="color: white;"></i>Manage Users</a></li>
                        <li>
                            <a href="/admin-helpdesk/" style="color:white; font-family: sans-serif;"><i class="fa fa-life-ring" style="color: white;"></i>Admin Helpdesk</a>
                        </li>

                        <li>
                            {% if user.is_superuser or user.is_staff  %}
                            <a href="{% url 'add-admin' %}" style="color:white; font-family: sans-serif;" ><i class="fa fa-user" style="color: white;"></i> Add admin</a>
                            {% endif %}
                        </li>
                       </ul> 
                   </li>
                   {% comment %} {% endif %} {% endcomment %}
               </ul>
           </div>
       </div>
       <hr style="border-color: black; border-width: 2px; margin-top: 20px; margin-bottom: 20px; width:200px;">
   </section>

    {% endblock %}

    