{% extends 'base/adminbase.html' %}
{% load crispy_forms_tags %}
{% load static %}




{% block 'body' %}
 
<!--**********************************
            Content body start
        ***********************************-->
        <section class="vh-100" style="background-color: #eee;">
            <br>
            <br>
        <div class="content-body">
             
            <div class="container-fluid mt-5" style="margin-left: 10px; margin-right: 10px">
                <div class="row">
                    {% comment %} {% if request.user.userprofile_set.first.userType == "Public" %} {% endcomment %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">My Total Booking</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{my_booking}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white" style="font-family: Arial, sans-serif;font-size: 24px;">Total Available Room</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{available_house}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                    {% comment %} {% endif %}
                    {% if request.user.userprofile_set.first.userType == "Owner" %} {% endcomment %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white" >My House</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{my_house}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Total Available Room</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{my_available_house}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                    {% comment %} {% endif %}
                    {% if request.user.userprofile_set.first.userType == "Admin" %} {% endcomment %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Total No. of Verified House Owner</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{total_verified_owner}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Total No. of Unverified House Owner</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{total_unverified_owner}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Total Available Room</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{available_house}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Total Booked Room</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{booked_house}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Total verified Admin</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{total_verified_admin}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Total Unverified Admin</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{total_unverified_admin}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                    </div>
                    {% comment %} {% endif %} {% endcomment %}
                    
                </div>
            </div>
        </div>
    </div>
</section>



    <section style="height:50px">
        <!--**********************************
           Sidebar start
       ***********************************-->
       <div class="nk-sidebar">
           <div class="">
               <br>
               <ul class="metismenu" id="menu">
                   <li>
                       <a href="{% url 'board' %}" aria-expanded="false">
                           <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                       </a>
                   </li>
                
                   <li class="mega-menu mega-menu-sm">
                       <a class="has-arrow">
                           <i class="icon-screen-tablet menu-icon"></i>
                           <span class="nav-text">Admin</span>
                       </a>
                       <ul>
                        {% if user.is_superuser or user.is_staff  %} 
                        <li><a href="/all-user/">All User</a></li>
                        {% endif %}
                        {% comment %} {% if request.user.userprofile_set.first.verified == True %} {% endcomment %}
                        <li><a href="{% url 'approve-owner' %}">Approve Owner Listing</a></li>
                        
                        <li><a href="/approve-admin/">Admin Panel</a></li>
                        {% comment %} {% endif %} {% endcomment %}
                        
                        <li><a href="/rent-house/">Manage Owner</a></li>
                        <li><a href="{% url 'manage-customer' %}">Manage Customer</a></li>
                        <li>
                            <a href="/admin-helpdesk/">Admin Helpdesk</a>
                        </li>

                        <li>
                            <a href="{% url 'add-admin' %}">Add admin</a>
                        </li>
                       </ul>
                   </li>
                   {% comment %} {% endif %} {% endcomment %}
               </ul>
           </div>
       </div>
       <hr style="border-color: black; border-width: 2px; margin-top: 20px; margin-bottom: 20px; width:200px;">
   </section>
    {% endblock %}

    