
<div id="meerkat-card" class="card mb-4 row-4" style="height:200px;  width:600px; background-color:#F8F8F8; align-item:end;">
    <div class="card-body">
<div id="meerkat-card" class="card mb-4 row-4" style="height:500px;  width:600px; background-color:#F8F8F8;">
    <div class="card-body">
        <br>
        <div class="form-group row">
            <div>
                <div class="card-deck" style="width:600px; height:200px">
                    <div id="elephant-card" class="row-4 card mb-4 active">
                        <div class="card-body" role="button">
                           
                        </div>
                    </div>
                    
                    <div id="meerkat-card" class="card mb-4 row-4 active">
                        <div class="card-body" role="button">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div id="meerkat-card" class="card mb-4 row-4" style="height:200px;  width:600px; background-color:#F8F8F8;">
    <div class="card-body">

    </div>
</div>


    </div>
</div>