<!DOCTYPE html>
<html>
<head>
    <title>House Map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    {% comment %} <script src="https://maps.googleapis.com/maps/api/js"></script> 
    <script src="https://maps.googleapis.com/maps/api/js?key={{ opencage_api_key }}"></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0},
                zoom: 10
            });

            {% for listing in listings %}
                var marker{{ listing.id }} = new google.maps.Marker({
                    position: {lat: {{ listing.latitude }}, lng: {{ listing.longitude }}},
                    map: map,
                    title: "{{ listing.address }}"
                });
            {% endfor %}
        }
    </script> {% endcomment %}
</head>
<body>
    <div>
        <h1>Hello Map</h1>
    </div>

    {{ listing.address }} <br>
    {{ listing.latitude }} <br>
    {{ listing.longitude }} <br>


    

    {% comment %} <iframe src="https://www.google.com/maps/d/embed?mid=1u3uCYNWix9PKR1BIuNrF3DDZDbyb6D0&ehbc=2E312F" width="1550" height="750"></iframe> {% endcomment %}
  
   
    <div id="map-{{ listing.id }}" style="height: 400px;"></div>

    <script>
        // Replace with your actual latitude and longitude values
    {% comment %} var YOUR_LATITUDE = 8.1951581;
    var YOUR_LONGITUDE = 37.7923727;
    let latitude = 0;
    let longitude =  0; {% endcomment %}
    
    var latitude = {{ listing.latitude }};
    var longitude = {{ listing.longitude }};


    navigator.geolocation.getCurrentPosition(position => {
     let latitude = position.coords.latitude;
     let longitude = position.coords.longitude;
    // Use the retrieved values as needed
    console.log(latitude, longitude);
    }); 

      // Initialize map
      {% comment %} var map = L.map('map').setView([YOUR_LATITUDE, YOUR_LONGITUDE], 12); {% endcomment %}
      var map = L.map('map-{{ listing.id }}').setView([latitude, longitude], 12);
      // Add OpenStreetMap tile layer
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18,
      }).addTo(map);

      // Add marker to the map
      {% comment %} var marker = L.marker([YOUR_LATITUDE, YOUR_LONGITUDE]).addTo(map); {% endcomment %}
      var marker = L.marker([latitude, longitude]).addTo(map);
  
    </script>

    

    


</body>
</html>
