{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block 'title' %}
<title>
    Housing In Wolkite , Home
</title>
{% endblock %}

{% block 'body' %}

{% comment %} <div class="bg-white">
   
  <!-- Single Page Header start -->
 <div class="container-fluid page-header py-5" style="background-color: #1877F2; height:50px">
    <h1 class="text-center text-white display-6">Your Destination</h1>
    <ol class="breadcrumb justify-content-center mb-3" style="background-color: #ffffff;">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active">Post</li>
    </ol>
</div> 
<br>
<br>
<br>
<hr style="border-color: black; border-width: 2px; margin-top: 20px; margin-bottom: 20px;">
    <section class="py-5 container"> 
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">OHR</h1>
          <p class="lead text-muted">The best place to Rent Houses, and we've made it that much easier.</p>
          <a href="" class="btn btn-primary my-2">List your House</a>
        </div>
        <div class="col-lg-6 col-md-8 mx-auto">
           <from method="GET">
            {{listing_filter.form|crispy}}
            <button class="btn btn-sm btn-danger" type="submit">submit</button>
           </from>
        </div>
        </div>
       </section>
     <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <h1 class="mb-4">Filter Houses</h1>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="fruits">Default Sorting:</label>
                            <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                <option value="volvo">location</option>
                                <option value="saab">price</option>
                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Categories</h4>
                                    <ul class="list-unstyled fruite-categorie">
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="#">                        <i class="fa fa-users text-secondary"></i>
                                                    Families</a>
                                                <span></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="#">                        <i class="fa fa-users text-secondary"></i>
                                                    Students</a>
                                                <span></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="#">                        <i class="fa fa-users text-secondary"></i>
                                                    Trades</a>
                                                <span></span>
                                            </div>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                </div>
                            </div>

                         <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="{% static 'img/img1.jpg' %}" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">House <br> Rentals <br> Banner</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                 


                    <div class="col-lg-9">
                        <!-- Fruits Shop Start-->
                        <div class="album py-5 bg-light">
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                    {% for listing in listing_filter.qs %}
                                    <div class="col">
                                        <div class="hover-zoom">
                                            {% include "components/listing_card.html"  %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center">
                                <div class="album py-5 bg-light ">
                                    <div class="container ">
                                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
                                            {% for listing in listing_filter.qs %}
                                            <div class="col">
                                            {% include "components/listing_card.html"  %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                 </div> 
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endcomment %}



<br>
<br>
<br>
<br>

<section id="showcase-inner" class="py-5 showcase-text">
    <div class="container bg-blur">
      <div class="row">
        <div class="col-md-12 my-4">
          <h1 class="display-4 my-3 showcase-text">
            {{ title }}
          </h1>
          {% include 'includes/_search.html' %}
  
        </div>
      </div>
    </div>
  </section>
  
  {% comment %} <a href="{% url 'map' %}?listing_id={{ listing.id }}">View on Map</a> {% endcomment %}
  
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i> {{ _("Home") }}</a>
          </li>
          <li class="breadcrumb-item active">{{ _("Browse Listings") }} </li>
        </ol>
      </nav>
    </div>
  </section>
  
  <!-- Listings -->
  {% comment %} <section id="listings" class="py-4"> {% endcomment %}
    {% comment %} <div class="container"> {% endcomment %}
      {% comment %} <div class="row"> {% endcomment %}
        
  <div class="col-lg-9">
    <div class="row g-4 justify-content-center">
       <div class="album py-5 bg-light ">
         <div class="container ">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
             {% if listing_filter  %}
             {% for listing in listing_filter.qs %}
             {% include 'includes/_listing-box.html' with listing=listing %}
             {% endfor %}
             {% else %}
        <div class="col-md-12">
          <p>{{ _("No Listings Available") }}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
      <div class="row">
        <div class="col-md-12">
          {% if listing_filter.has_other_core %}
          <ul class="pagination">
            {% if listing_filter.has_previous %}
            <li class="page-item">
              <a href="?page={{listing_filter.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link">&laquo;</a>
            </li>
            {% endif %}
            {% for i in listing_filter.paginator.page_range %}
            {% if listing_filter.number == i %}
            <li class="page-item active">
              <a class="page-link">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
              <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if listing_filter.has_next %}
            <li class="page-item">
              <a href="?page={{listing_filter.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link">&raquo;</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}





