<div class="card shadow-sm ">
    <div class="card-body rounded position-relative fruite-item">
     <h4 class="card-text">{{listing.title}}</h4>
       
       <br>
       <p class="card-text">{{listing.description}}</p>
       <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
           <a type="button" class="btn btn-sm btn-outline-primary" 
           href="{% url 'single_house_view' id=listing.id  %}">View</a>
           {% if listing.seller.user == request.user %}
          <a href=""  type="button" class="btn btn-sm btn-outline-primary">Edit</a>
          {% endif %}
          </div>
           <small class="text-muted">{{listing.updated_at}}</small>
           <button id="like_{{listing.id}}" type="button" value="like" class="btn btn-secondary">
          {% if listing.id in liked_listings_ids %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
                    </path>
         </svg> 
         {% else %}
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
                    </path>
         </svg>
         {% endif %}
         </button>
       </div>
    </div>
    
</div>

<script>
    {% comment %} $("#like_{{listing.id}}").click(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'like_listing' id=listing.id  %}",
            data: {'csrfmiddlewaretoken': {{csrf_token}}},
            datatype: "json",
            success: function(r) { 
             $("#like_{{listing.id}}").find("svg"),attr("fill", r.is_liked_by_user ? "red" : "black");
            },
            error: function (rs, e) { 
                alert(e);
            }
        } );
    }) {% endcomment %}
</script>


    {% comment %} <h4>Grapes</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
    <div class="d-flex justify-content-between flex-lg-wrap">
    <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>
    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
    </div> {% endcomment %}