{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block 'body' %}
<div class="car-details-page content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <!-- Heading start -->
                    <div class="heading-car clearfix">
                      {% comment %} {% include 'includes/messages.html' %} {% endcomment %}
                        <div class="pull-left">
                            <h3>{{listing.brand}}</h3>
                            <h6>
                                <i class="flaticon-pin"></i>{{listing.location.address_1}}, {{listing.location.city}}
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h3><span>$ {{listing.model | intcomma}}</span></h3>
                        </div>
                    </div>
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide mb-40">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{{listing.img.urll}}" class="img-fluid" alt="slider-car">
                            </div>
                            {% if listing.img %}
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{{listing.img.urll}}" class="img-fluid" alt="slider-car">
                            </div>
                            {% endif %}
                            {% if listing.img %}
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{{listing.img.url}}" class="img-fluid" alt="slider-car">
                            </div>
                            {% endif %}
                            {% if listing.img %}
                            <div class="item carousel-item" data-slide-number="4">
                                <img src="{{listing.img.url}}" class="img-fluid" alt="slider-car">
                            </div>
                            {% endif %}
                            {% if listing.img %}
                            <div class="item carousel-item" data-slide-number="5">
                                <img src="{{listing.img.url}}" class="img-fluid" alt="slider-car">
                            </div>
                            {% endif %}
                        </div><!-- Log on to codeastro.com for more projects -->
                        <!-- main slider carousel nav controls -->
                        <div class="carousel-indicators-section clearfix">
                            <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                                <li class="list-inline-item active">
                                    <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carDetailsSlider">
                                        <img src="{{listing.img.url}}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                                {% if listing.img %}
                                <li class="list-inline-item">
                                    <a id="carousel-selector-1" data-slide-to="1" data-target="#carDetailsSlider">
                                        <img src="{{listing.img.url}}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                                {% endif %}
                                {% if listing.img %}
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#carDetailsSlider">
                                        <img src="{{single_car.car_photo_2.url}}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                                {% endif %}
                                {% if listing.img %}
                                <li class="list-inline-item">
                                    <a id="carousel-selector-3" data-slide-to="3" data-target="#carDetailsSlider">
                                        <img src="{{single_car.car_photo_3.url}}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                                {% endif %}
                                {% if listing.img %}
                                <li class="list-inline-item">
                                    <a id="carousel-selector-4" data-slide-to="4" data-target="#carDetailsSlider">
                                        <img src="{{listing.img.url}}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
					<!-- Log on to codeastro.com for more projects -->
                    <!-- Tabbing box start -->
                    <div class="tabbing tabbing-box mb-40">
                        <ul class="nav nav-tabs" id="carTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false">Vehicle overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Features</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="carTabContent">
                            <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                                <div class="car-description mb-50">
                                    <h3 class="heading-2">
                                        Description
                                    </h3>
                                    <p>
                                      {{listing.description | safe }}
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                                <div class="features-info mb-50">
                                    <h3 class="heading-2">Features</h3>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <ul>
                                                <li>
                                                    {{listing.vin}}
                                                </li>

                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

					<!-- Log on to codeastro.com for more projects -->
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search d-none-992">
                        <button class="btn btn-danger bomd btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Send a Message</button>


                        <br>
                        <h3 class="sidebar-title">Car Specs</h3>
                        <ul>
                            <li>
                                <span><b>Color:</b> </span>{{listing.color}}
                            </li>
                            <li>
                                <span><b>Model:</b> </span>{{listing.model}}
                            </li>
                            <li>
                                <span><b>Year:</b> </span>{{listing.created_at}}
                            </li>
                            {% comment %} <li>
                                <span><b>Condition:</b> </span>{{single_car.condition}}
                            </li>
                            <li>
                                <span><b>Body Style:</b> </span>{{single_car.body_style}}
                            </li> {% endcomment %}
                            <li>
                                <span><b>Engine:</b> </span>{{listing.engine}}
                            </li>
                            <li>
                                <span><b>Transmission:</b> </span>{{listing.transmission}}
                            </li>
                            
                            <li>
                                <span><b>Mileage:</b> </span>{{listing.milage}}
                            </li>
                        </ul>
                    </div>

                    <!-- Inquiry Modal -->
                    <div class="modal fade" id="inquiryModal" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="contact-dealer modal-header">
                            <!-- <h5 class="modal-title" id="inquiryModalLabel">Contact Dealer</h5> -->
                            <center><img src="{% static 'img/logos/cardealerLogo.png' %}"></center>
                            <button type="button" class="close" data-dismiss="modal">
                              <span>&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="" method="POST">
                              {% csrf_token %}

                              {% if user.is_authenticated %}
                                <input type="hidden" name="user_id" value="{{user.id}}">
                              {% else %}
                                <input type="hidden" name="user_id" value="0">
                              {% endif %}

                              <input type="hidden" name="car_id" value="{{listing.id}}">
                                <div class="form-group">
                                  <label for="name" class="col-form-label">Hello, My Name is</label>
                                  <div class="row">
                                    <div class="col">
                                      <input type="text" name="first_name" class="form-control" placeholder="First Name"
                                      {% if user.is_authenticated %} value="{{listing.owner.user.username}}"  {% endif %} required>
                                    </div>
                                    <div class="col">
                                      <input type="text" name="last_name" class="form-control" placeholder="Last Name"
                                       {% if user.is_authenticated %} value="{{listing.owner.user.username}}"  {% endif %} required>
                                    </div>
                                  </div>
                                </div>
                                  <div class="form-group">
                                      <select class="form-control" id="sel1" name="customer_need">
                                        <option value="I'm interested in this">I'm interested in this</option>
                                        <option value="I'd like to know your best price for this">I'd like to know your best price for this</option>
                                        <option value="I'd like to Schedule a Test Drive">I'd like to Schedule a Test Drive</option>
                                        <option value="Check home delivery options">Check home delivery options</option>
                                        <option value="I'd like a history report for this">I'd like a history report for this</option>
                                        <option value="Discuss Financing">Discuss Financing</option>
                                        <option value="Others [Mention Below]">Others [Mention Below]</option>
                                      </select>
                                    </div>
									<!-- Log on to codeastro.com for more projects -->
                                <div class="form-group">
                                  <input type="text" name="car_title" class="form-control" value="{{ listing.brand }}" readonly>
                                </div>

                                <div class="form-group">
                                  <label for="name" class="col-form-label">I live in</label>
                                  <div class="row">
                                    <div class="col">
                                      <input type="text" name="city" class="form-control" placeholder="City" required>
                                    </div>
                                    <div class="col">
                                      <input type="text" name="state" class="form-control" placeholder="State" required>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="row">
                                    <div class="col">
                                        <label for="name" class="col-form-label">You can reach me by email at</label>
                                      <input type="email" name="email" class="form-control" placeholder="Email Address"
                                       {% comment %} {% if user.is_authenticated %} value="{{user.email}}"  {% endif %} required> {% endcomment %}
                                    </div>
                                    <div class="col">
                                        <label for="phone" class="col-form-label">or by cell at</label>
                                      <input type="text" name="phone" placeholder="Phone Number (optional)" class="form-control">
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label for="message" class="col-form-label">Additional Messages</label>
                                  <textarea name="message" class="form-control" placeholder="Enter your message here (optional)"></textarea>
                                </div>
                                <hr>
                                <input type="submit" value="Submit" class="btn btn-block btn-dark">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                <!-- Question start -->
                <div class="widget question">
                    <h5 class="sidebar-title">Got Any Question?</h5>
                    <ul class="contact-info">
                        <li>
                            <i class="flaticon-pin"></i>47 Clement Street, Atlanta
                        </li>
                        <li>
                            <i class="flaticon-mail"></i><a href="mailto:info@carweb.cm">info@carweb.cm</a>
                        </li>
                        <li>
                            <i class="flaticon-phone"></i><a href="tel:+0477-85x6-552">+0477 1506 525</a>
                        </li>
                    </ul>
                    <div class="social-list clearfix">
                        <ul>
                            <li><a href="https://codeastro.com/" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://codeastro.com/" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://codeastro.com/" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://codeastro.com/" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                            <li><a href="https://codeastro.com/" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div><!-- Log on to codeastro.com for more projects -->
<!-- Properties details page end -->
<main>
    <section class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
             <img src="{{ listing.image.url }}" class="d-block mx-lg-auto img-fluid" width="1920" height="1080" loading="lazy">
            </div> 
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">
                    {{ listing.title }}
                </h1>
                <p class="lead">
                    {{ listing.seller.user.username }} - {{ listing.updated_at}}
                </p>
            </div>
        </div>
    </section>
    <div class="bg-light">
        <div class="container px-4 py-5">
        <h2 class="mb-3 border-bottom" style="color: black">Auto Information</h2>
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <div class="col-lg-8">
             <div class="table-responsive">
                <table class="table text-center">
                  <tbody>
                    <tr>
                        <th scope="row" class="text-start">Title</th>
                        <td> {{ listing.title|capfirst }} </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Price</th>
                        <td> {{ listing.price }} </td>
                    </tr>
                    {% comment %} <tr>
                        <th scope="row" class="text-start">Mileage</th>
                        <td> {{ listing.mileage }} </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Color</th>
                        <td> {{ listing.color }} </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Engine</th>
                        <td> {{ listing.engine }} </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Transmission</th>
                        <td> {{ listing.transmission|capfirst }} </td>
                    </tr> {% endcomment %}
                  </tbody>
                </table>
             </div>
            </div>
            <div class="col-lg-4">
           <div class="card mb-4 rounded-3 shadow-sm">
             <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Location</h4>
             </div>
             <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ listing.location.address_1 }} , {{ listing.location.address_2 }} , {{ listing.location.city }}</li>
              </ul>
              {% comment %} <button class="w-100 btn-lg btn-outline-primary my-3">
                {{ listing.seller.contact_No }}
              </button> {% endcomment %}
              <button class="w-100  btn-lg btn-outline-primary my-3">
                 Send Email
              </button>
              {% comment %} <button class="w-100 btn-lg btn-outline-primary my-3" onclick="location.href='{% url 'inbox-view' product_id=product.id %}'">
                message now
            </button> {% endcomment %}
           

            

            {% comment %} {% if request.user == list.seller %}
            
            <a href="{% url 'message:new' list.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact seller</a>
            {% endif %} {% endcomment %}
            
            {% if user_is_seller %}
            <!-- Display "See Messages" button for sellers -->
            <button class="w-100 btn-lg btn-outline-primary my-3" onclick="location.href='{% url 'inbox-view' conversation_id=conversation_id %}'">
                See Messages
            </button>
        {% else %}
        <button class="w-100 btn-lg btn-outline-primary my-3" onclick="location.href='{% url 'product-view' product_id=product.id %}'">
            Pay now
        </button>
            <!-- Display "Contact now" button for non-sellers -->
            <button class="w-100 btn-lg btn-outline-primary my-3" onclick="location.href='{% url 'new' product_id=product.id %}'">
                Contact now
            </button>
        {% endif %}
        
        
            

                {% comment %} {% if request.user.is_authenticated %}
                    <a href="{% url 'inbox' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Inbox</a>
              
                    
                {% endif %} {% endcomment %}
            </div>
           </div>
            </div>
        </div>
        </div>
        <div class="container px-4 py-5" >
         <div class="row g-4 py-5"> 
           <div class="col d-flex align-items-start">
            <div class="col d-flex align-items-start">
             <div >
              <h2 class="mb-3 border-bottom" style="color: black">Description</h2>
              <p>{{ listing.description }}</p>
             </div>
            </div>
           </div>
         </div>
        </div>
    </div>
    















<!--**********************************
            Sidebar end
        ***********************************-->

<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">


            <div class="container-fluid" style="background-color: rgb(145, 187, 241);height: 150vh;">
        
        
                <div class="container pt-5">
                    <div class="card-deck">
                        <div class="card bg-light">
                            <div class="card-body text-center" style="padding-top: 100px;">
                                <p class="card-text"><b>OWNER NAME:</b> {{house_details.user.user.first_name}}
                                    {{house_details.user.user.last_name}}</p>
                                <p class="card-text"><b>HOUSE NO.:</b> {{house_details.house_no}}</p>
                                <p class="card-text"><b>OWNER CONTACT NO.:</b> {{house_details.user.contact_No}}</p>
                                <p class="card-text"><b>ROOM SIZE:</b> {{house_details.room_size}}</p>
                                <p class="card-text"><b>AREA:</b> {{house_details.area}}</p>
                                <p class="card-text"><b>CITY:</b> {{house_details.city}}</p>
                                <p class="card-text"><b>PINCODE:</b> {{house_details.pincode}}</p>
                                <p class="card-text"><b>STATUS:</b> {{house_details.status}}</p>
                                <p class="card-text"><b>PRICE:</b> {{house_details.price}}</p>
                            </div>
                        </div>
        
                        <div id="wrapper">
        
                            <div id="slider-wrap">
                                <ul id="slider">
                                    <li data-color="#1abc9c">
                                        <img src="{{house_details.image1.url}}" style="height: 250px; width: 500px;">
                                    </li>
                                    <br>
                                    <li data-color="#3498db">
                                        <img src="{{house_details.image2.url}}" style="height: 250px; width: 500px;">
                                    </li>
        
        
        
        
                                </ul>
        
                                <!--controls-->
        
                                <!--controls-->
        
                            </div>
        
                        </div>
                    </div>
        
                    <div class="row" style="margin-left: 450px;">
                        {% if request.user.userprofile_set.first.userType == "Public" %}
                        {% if house_details.status == "Available" %}
                        <div class="text-center pt-5">
                            <a href="/book-house/{{house_details.id}}/">
                                <button class="btn btn-primary submit-btn"
                                    style="margin-bottom: 10px; border-radius: 20px;">Book Now</button>
                            </a>
                        </div>&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        {% endif %}
                        {% if request.user.userprofile_set.first.userType == "Owner" %}
                        {% if house_details.status == "Booked" %}
        
                        <div class="text-center pt-5">
                            <a href="/available-house/{{house_details.id}}/">
                                <button class="btn btn-primary submit-btn"
                                    style="margin-bottom: 10px; border-radius: 20px;">Available Now</button>
                            </a>
                        </div>&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        <div class="text-center pt-5">
                            <a href="/edit-house/{{house_details.id}}/">
                                <button class="btn btn-primary submit-btn"
                                    style="margin-bottom: 10px; border-radius: 20px;">Edit House</button>
                            </a>
                        </div>&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        <div class="text-center pt-5">
                            <a href="/location/{{house_details.location}}" target="_blank">
                                <button class="btn btn-primary submit-btn" style="margin-bottom: 10px; border-radius: 20px;">See
                                    Location</button>
                            </a>
                        </div>
                        &nbsp;&nbsp;&nbsp;
        
                    </div>
        
                </div>
            </div>
        </div>
        <!--**********************************
                Main wrapper end
            ***********************************-->
        
        <!--**********************************
                Scripts
            ***********************************-->











    </main>

{% endblock %}

{% block 'footer' %}
{% endblock %}

{% block 'header' %}
{% endblock %}


