{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load static %}
{% load humanize %}

{% block 'body' %}




{% include 'includes/showcase_section.html' %}



<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
         <a href="{% url 'main:home' %}">{{ _("Home") }}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'main:master' %}">{{ _("Listings") }}</a>
        </li>
        <li class="breadcrumb-item active">{{ listing.house_kind }}</li>
      </ol>
    </nav>
  </div>
</section>
<hr>

<!-- Alerts -->
{% include 'includes/_alerts.html' %}

<!-- Listing -->
<section id="listing" class="py-4 bg-light">
  <div class="container">

    <div class="row col-12 px-0">
      <div class="col-8">
        <a href="{% url 'master' %}" class="btn btn-primary mb-4">{{ _("Back To Listings") }}</a>
        
      </div>
      <hr>
      <div class="col-2 text-right mr-0 pr-0">
{% comment %} 
	{% if user.is_authenticated %}
          {% if listing.seller.user == request.user %}
          
        <a href="{% url 'main:edit_listing'   id=listing.id %}" target="_blank"
          class="btn btn-primary text-white mr-2 ">
          Edit
        </a>
	{% endif %}
	{% endif%} {% endcomment %}
      </div>
    </div>
 <br>
 
    <div class="row">
      <div class="col-md-9">
        <!-- Home Main Image -->
        <div id="carouselExampleIndicators"  class="carousel slide shadow p-1 mb-2 bg-secondary rounded" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              {% for image in listing.image.all %}
              <img style="width:100px;height:400px;" src="{{ image.image1.url }}" class="d-block w-100" alt="...">
              {% endfor %}
            </div>
            <div class="carousel-item">
              {% for image in listing.image.all %}
              <img style="width:100px;height:400px;" src="{{ image.image2.url }}" class="d-block w-100" alt="...">
              {% endfor %}
            </div>
            <div class="carousel-item">
              {% for image in listing.image.all %}
              <img style="width:100px;height:400px;" src="{{ image.image3.url }}" class="d-block w-100" alt="...">
              {% endfor %}
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        {% comment %} {% for image in listing.image.all %}
        <img class="bd-placeholder-img card-img-top" style="width:800px; height:400px"
         src="{{ image.image2.url }}" class="img-main img-fluid mb-3">
          {% endfor %}  {% endcomment %}
        <!-- Thumbnails -->
        <br>
        <div class="row thumbs listing-second-title">
          {% for img in listing.image.all %}
          <div class="row">
              <div class="col-2">
                <a href="{{ img.image2.url }}" style="width:1000px; height:1000px;" data-lightbox="home-images">
                <img style="width:300px;height:100px;" src="{{ img.image2.url }}" alt="" class="img-fluid img-inline-listing">
                </a>
              </div>
              <div class="col-2">
                <a href="{{ img.image3.url }}" style="width:1000px; height:1000px;" data-lightbox="home-images">
                <img style="width:300px;height:100px;" src="{{ img.image3.url }}" alt="" class="img-fluid img-inline-listing">
                </a>
              </div>
              <div class="col-2">
                <a href="{{ img.image1.url }}" style="width:1000px; height:1000px;" data-lightbox="home-images">
                <img style="width:300px;height:100px;" src="{{ img.image1.url }}" alt="" class="img-fluid img-inline-listing">
                </a>
              </div>
              <div class="col-2">
                <a href="{{ img.image1.url }}" style="width:1000px; height:1000px;" data-lightbox="home-images">
                <img style="width:300px;height:100px;" src="{{ img.image1.url }}" alt="" class="img-fluid img-inline-listing">
                </a>
              </div>
              <div class="col-2">
                <a href="{{ img.image3.url }}" style="width:1000px; height:1000px;" data-lightbox="home-images">
                <img style="width:300px;height:100px;" src="{{ img.image3.url }}" alt="" class="img-fluid img-inline-listing">
                </a>
              </div>
            <div class="col-2">
             
             <a href="{{ img.image2.url }}" style="width:1000px; height:1000px;" data-lightbox="home-images">
              <img src="{{ img.image2.url }}" alt="" class="img-fluid img-inline-listing" style="width:400px;height:100px;">
            </a> 
          </div>
          </div>
          <br>
          {% endfor%}
        </div>

        <br>
        <br>
        <br>
        <h2 class="ml-3"><strong style="color:#000333">Birr {{ listing.price }}</strong></h2><h6 class="ml-4 text-info">per month</h6>
        <div class="col-12" style="margin-left:0px">
          <div class="row-4 card mb-4 active">
            <span class="mb-3">
              <i class="fas fa-map-marker text-primary mt-3 ml-3"></i>
              {{ listing.address }}
            </span>
              <div class="card-body" role="button">
                  <h6 class="card-title">
                  {% for img in listing.image.all %}
                        <span class="float-right">{{ img.description | capfirst }}</span>
                        {% endfor %}
              </div>
          </div>
        </div>
       <br>
     
       <h5 style="color:#000333">Amenities</h5>
       <br>
       <div class="col-12" style="margin-left:0px">
        <div id="elephant-card" class="row-4 card mb-4 active">
         
            <div class="card-body" role="button">
                <h6 class="card-title">
                   
               
                <div class="card">
                  <ul class="list-group list-group-flush">
      
                    <li class="list-group-item">
                      <i class="fas fa-money-bill-alt text-secondary pr-2"></i> {{ _("Bed") }}
                      {% for amenity in listing.amenities.all %}
                      <span class="float-right">{{ amenity.bed | capfirst }}</span>
                      {% endfor %}
                    </li>
      
                    <li class="list-group-item">
                      <i class="fas fa-th-large text-secondary pr-2"></i> {{ _("Wifi") }}:
                      {% for amenity in listing.amenities.all %}
                      <span class="float-right">{{ amenity.wifi | capfirst }}</span>
                      {% endfor %}
      
                      </span>
                    </li>
                   
                    <li class="list-group-item">
                      <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Desk") }}:
                      {% for amenity in listing.amenities.all %}
                      <span class="float-right">{{ amenity.desk | capfirst }}</span>
                      {% endfor %}
                    </li>
                   
                    <li class="list-group-item">
                      <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Living Room Furnished") }}:
                      {% for amenity in listing.amenities.all %}
                      <span class="float-right">{{ amenity.living_room_furnished | capfirst }}</span>
                      {% endfor %}
                    </li>
      
      
                  </ul>
      
                </div>
            </div>
        </div>
      </div>
      <br>
      <h5 style="color:#000333">Preferences</h5>
      <br>
    
      
      <div class="col-12" style="margin-left:0px">
        <div id="elephant-card" class="row-4 card mb-4 active">
          
            <div class="card-body" role="button">
                <h6 class="card-title">
                   
                <p class="card-text">{{ listing.description }}.</p>
                <div class="card">
                  <ul class="list-group list-group-flush">
      
                    <li class="list-group-item">
                      <i class="fas fa-money-bill-alt text-secondary pr-2"></i> {{ _("Gender") }}
                      {% for rules in listing.rules_and_preferences.all %}
                      <span class="float-right">{{ rules.gender | capfirst }}</span>
                      {% endfor %}
                    </li>
      
                    <li class="list-group-item">
                      <i class="fas fa-th-large text-secondary pr-2"></i> {{ _("Tenant Type") }}:
                      {% for rules in listing.rules_and_preferences.all %}
                      <span class="float-right">{{ rules.tenant | capfirst }}</span>
                      {% endfor %}
      
                      </span>
                    </li>
                   
                    <li class="list-group-item">
                      <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Maximum Age") }}:
                      {% for rules in listing.rules_and_preferences.all %}
                      <span class="float-right">{{ rules.maximum_age | capfirst }}</span>
                      {% endfor %}
                    </li>
                   
                    <li class="list-group-item">
                      <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Minimum Age") }}:
                      {% for rules in listing.rules_and_preferences.all %}
                      <span class="float-right">{{ rules.minimum_age | capfirst }}</span>
                      {% endfor %}
                    </li>
      
      
                  </ul>
      
                </div>
            </div>
        </div>
      </div>
    
      

      <div class="col-12" style="margin-left:0px">
        <div id="elephant-card" class="row-4 card bg-info mb-4 active">
          <h4 class="ml-3 mt-3" style="color:white">Your money is safe up to 48 hours after you move in</h4>
            <div class="card-body" role="button">
                <h6 class="card-title">
                   
                  <h5 class="ml-3 mt-3" style="color:white">When you move in, if the property doesn’t 
                  match its listing description, let us know within 48 hours and you could get a refund.</h5>
                 
                  <div class="card">
                    <ul class="list-group list-group-flush">
        
                      <li class="list-group-item">
                        <i class="fas fa-money-bill-alt text-secondary pr-2"></i> {{ _("Kitchen") }}
                        {% for house_area in listing.listing_house_area.all %}
                        <span class="float-right">{{ house_area.kitchen | capfirst }}</span>
                        {% endfor %}
                      </li>
        
                      <li class="list-group-item">
                        <i class="fas fa-th-large text-secondary pr-2"></i> {{ _("Toilet") }}:
                        {% for house_area in listing.listing_house_area.all %}
                        <span class="float-right">{{ house_area.toilet | capfirst }}</span>
                        {% endfor %}
        
                        </span>
                      </li>
                     
                      <li class="list-group-item">
                        <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Bathroom") }}:
                        {% for house_area in listing.listing_house_area.all %}
                        <span class="float-right">{{ house_area.bathroom | capfirst }}</span>
                        {% endfor %}
                      </li>
                     
                      <li class="list-group-item">
                        <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Living Room") }}:
                        {% for house_area in listing.listing_house_area.all %}
                        <span class="float-right">{{ house_area.living_room | capfirst }}</span>
                        {% endfor %}
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Garden") }}:
                        {% for house_area in listing.listing_house_area.all %}
                        <span class="float-right">{{ house_area.garden | capfirst }}</span>
                        {% endfor %}
                      </li>
        
        
                    </ul>
        
                  </div>
            </div>
        </div>
      </div>

      <br>
      <h5 style="color:#000333">Documents Required to Book</h5>
      <br>


      <div class="col-12" style="margin-left:0px">
        <div id="elephant-card" class="row-4 card mb-4 active">
          <h5 class="ml-3 mt-3 text-dark">The landlord will ask for them to accept your booking request.</h5>
            <div class="card-body" role="button">
                <h6 class="card-title">
                   
                  <h5><i class="fas fa-user text-dark mt-3 mb-2 ml-3"><strong>      Proof Of Identity</strong></i></h5>
                  <h6 class="ml-3 mt-3 text-dark"> Government issued ID</h6>
            </div>
        </div>
      </div>
 
      <br>
      <h5 style="color:#000333">RentalConditions And Costs</h5>
      <br>


      <div class="col-12" style="margin-left:0px">
        <div id="elephant-card" class="row-4 card bg-info mb-4 active">
          <h4 class="ml-3 mt-3" style="color:white">Your money is safe up to 48 hours after you move in</h4>
            <div class="card-body" role="button">
                <h6 class="card-title">
                   
                  <h5 class="ml-3 mt-3" style="color:white">When you move in, if the property doesn’t 
                  match its listing description, let us know within 48 hours and you could get a refund.</h5>
                
                  <div class="card">
                    <ul class="list-group list-group-flush">
                  
                      <li class="list-group-item">
                        <i class="fas fa-money-bill-alt text-secondary pr-2"></i> {{ _("Contract Type") }}
                        {% for conditions in listing.rental_condtion.all %}
                        <span class="float-right">{{ conditions.contract | capfirst }}</span>
                        {% endfor %}
                      </li>
        
                      <li class="list-group-item">
                        <i class="fas fa-th-large text-secondary pr-2"></i> {{ _("Cost") }}:
                        {% for conditions in listing.rental_condtion.all %}
                        <span class="float-right">{{ conditions.price | capfirst }}</span>
                        {% endfor %}
        
                        </span>
                      </li>
                     
                      <li class="list-group-item">
                        <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Cancellation") }}:
                        {% for conditions in listing.rental_condtion.all %}
                        <span class="float-right">{{ conditions.cancellation | capfirst }}</span>
                        {% endfor %}
                      </li>
                     
                      <li class="list-group-item">
                        <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Utility Cost") }}:
                        {% for conditions in listing.rental_condtion.all %}
                        <span class="float-right">{{ conditions.utility_costs | capfirst }}</span>
                        {% endfor %}
                      </li>
        
        
                    </ul>
        
                  </div>
            </div>
        </div>
      </div>




      <br>
      <h5 style="color:#000333">House Information</h5>
      <br>
    
      
      {% comment %} <div class="col-12" style="margin-left:0px">
        <div id="elephant-card" class="row-4 card mb-4 active">
          
            <div class="card-body" role="button">
                <h6 class="card-title">
                   
                <p class="card-text">{{ listing.description }}.</p> {% endcomment %}
                {% comment %} <div class="card"> {% endcomment %}
                  <ul class="list-group list-group-flush">
      
                    <li class="list-group-item">
                      <i class="fas fa-money-bill-alt text-secondary pr-2"></i> {{ _("House Size") }}
                      {% for space in listing.listing_space_overview.all %}
                      <span class="float-right">{{ space.house_size | capfirst }} m</span>
                      {% endfor %}
                    </li>
      
                    <li class="list-group-item">
                      <i class="fas fa-th-large text-secondary pr-2"></i> {{ _("House Mate Number") }}:
                      {% for space in listing.listing_space_overview.all %}
                      <span class="float-right">{{ space.house_mate_no | capfirst }}</span>
                      {% endfor %}
      
                      </span>
                    </li>
                   
                    <li class="list-group-item">
                      <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Bedroom Size") }}:
                      {% for space in listing.listing_space_overview.all %}
                      <span class="float-right">{{ space.bedroom_size | capfirst }}</span>
                      {% endfor %}
                    </li>
                   
                    <li class="list-group-item">
                      <i class="fas fa-calendar text-secondary pr-2"></i> {{ _("Bedroom Furnished") }}:
                      {% for space in listing.listing_space_overview.all %}
                      <span class="float-right">{{ space.bedroom_furnished | capfirst }}</span>
                      {% endfor %}
                    </li>
      
      
                  </ul>
      
                {% comment %} </div> {% endcomment %}
            {% comment %} </div>
        </div>
      </div> {% endcomment %}
    
            
      <br>
      <br>
<div class="col-md-3">
  <div class="card mb-5" style="width:700px;height:400px">
    
         
         

          

        


  </div>
</div>

<div class="col-md-3">
  <div class="card mb-5" style="width:700px;height:400px">
    
         
         

          

        


  </div>
</div>

<div class="col-md-3">
  <div class="card mb-5" style="width:700px;height:400px">
    
         
         

          

        


  </div>
</div>






        <!-- Fields -->
        <div class="row fields">
          <div class="col-12 ">

           

          </div>


         


        </div>

        

      </div>

      


      {% include 'includes/contact-box.html' %}

    </div>
  </div>

 <br>
 <br>
  
  





  


  






<div class="container mt-5">
  <h5 class="text-camelcase text-dark font-weight-bold">Review and Ratings ({{ reviews|length }})</h5>
  <hr class="mt-0 pt-0">
  <div class="row">
    <div class="col-sm-7 mt-2">
      {% for review in reviews %}
      <div class="review-heading">
        <a class="text-capitalize"><i class="fas fa-user mr-1"></i>{{ review.reviewer.user.username }}</a>
        <a class="ml-2"><i class="fas fa-clock mr-1"></i>{{ review.created_at }}</a>
        {% for _ in review.rating|get_range %}
          <i class="fa fa-star checked" style="float: right;"></i>
        {% endfor %}
      </div>
      <div class="review-body mt-2">
        <p>{{ review.review_text }}</p>
      </div>
      {% endfor %}
    </div>

         {% if request.user.profile.userType == 'Public' %}
      <div class="col-sm-5 mt-2">
        <h5 class="text-uppercase font-weight-bold">Write Your Review</h5>
        <div id="review-form-container">
      <form method="POST" action="{% url 'main:single_house_view' id=listing.id %}">
          {% csrf_token %}
          {{ review_form.media }} 
          {{ review_form.as_p }}
            <script>
            document.addEventListener('DOMContentLoaded', function() {
              var ratingInputs = document.querySelectorAll('.rating-input');
              var hiddenRatingInput = document.getElementById('id_hidden_rating');
        
              ratingInputs.forEach(function(ratingInput) {
                ratingInput.addEventListener('change', function() {
                  hiddenRatingInput.value = document.querySelector('input[name=rating]:checked').value;
                });
              });
            });
          </script> 
          <button type="submit" class="btn btn-sm bg-primary text-white btn-outline-primary">Submit Review</button>
      </form>
    </div>
    </div>
      {% endif %}
      
      {% comment %} <form class="review-form" method="GET" action="{% url 'single_house_view' id=listing.id %}"> 
        {% for listing in listing_filter.qs %}
        <input type="hidden" name="list_id" id="list_id" value="{{ listing.id }}"/>
        {% endfor %}
        <div class="form-group">
          <textarea class="input" type="text" name="review_text" placeholder="Your Review"></textarea>
        </div>
        <div class="form-group">
          <div class="input rating">
            <p class="text-uppercase font-weight-bold">Your Rating: </p>
            <div class="rating-wrapper">

              {% for i in 5|get_range %}
                 
                <input type="radio" id="star-{{ i }}" name="rating" value="{{ i }}"/><label for="star-{{ i }}" class="fas fa-star fa-2x my-btn"></label>
              {% endfor %}
            </div>
          </div>
        </div>
        {% if user.is_authenticated and request.user.profile.userType == "Public" %}
          <button class="btn btn-danger btn-md m-0" type="submit">Post</button>
        {% else %}
          <p>You must be logged in to post a review, <a href="{% url 'login' %}">Login</a></p>
        {% endif %}
      </form> {% endcomment %}
    </div>
  </div>
</div>
<br>
<br>
</section>






{% endblock %}

{% block 'footer' %}
{% endblock %}




