{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block 'body' %}
{% comment %} https://www.youtube.com/watch?v=0pa75ch0S4E {% endcomment %}
<div class="text-center">

<div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>House Rental</h3>
          <p></p>
        </div>
      </div>
      <script>
          var check = function() {
            if (document.getElementById('password').value ==
              document.getElementById('confirm_password').value) {
              document.getElementById('message').style.color = 'green';
              document.getElementById('message').innerHTML = 'Both Passwords are matching';
            } else {
              document.getElementById('message').style.color = 'red';
              document.getElementById('message').innerHTML = 'Passwords not matching';
            }

          }
          </script>
      <form class="login-form" action="/forgotpassword/" method="POST" enctype="multipart/form-data">
         {% csrf_token %} 
         {% if msg %}
         <center style='color: red;'>{{msg}}</center>
         {% endif %}
        <input type="text" placeholder="UserName" name="username" required/>
        <input type="number" placeholder="Enter OTP" name ='otp'required/>
        <input type="password" placeholder="Enter New Password" name ='password1' id="password" onkeyup="check();" required/>
        <input type="password" placeholder="Confirm Password" name ='password2' id="confirm_password" onkeyup="check();" required/>
        <span id='message'></span>
        <button>Submit</button>
        <p class="message">Not registered? <a href="/sign/">Create an account</a></p>
        <p class="message">Already have an account? <a href="/login/">Login</a></p>
       
        <button><a href="/login" style="color:white;">Send</a></button>
        <!--<p class="message"> <a href="#">Forgot Password</a></p>-->
      </form>
    </div>
  </div>
</div>

  {% endblock %}

  {% block 'header' %}
  {% endblock%}
  
  {% block 'footer' %}
  {% endblock %}
