{% extends 'base/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}





{% block 'header' %}
{% endblock %}

{% block 'body' %}

<div class="text-center">
  <section class="vh-100" style="background-color: white;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem; width:800px">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <div class="login-page">
                    <div class="form">
                      <div class="login">
                        <div class="login-header">
                          <h3><a href="/">Home</a></h3>
                          <h3>LOGIN</h3>
                          <p>Please enter your credentials to login.</p>
                          <h1>{% trans "Welcome to our website!" %}</h1>
                          <p>{% trans "Please log in to continue." %}</p>
                        </div>
                      </div>
                      <form class="login-form" method="POST" action="/login/" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if msg %}
                        <center style="color: red;">{{msg}}</center>
                        {% endif %}
                        <br>

                        {{ login_form |crispy }}
                        {% comment %} <div class="form-group" style="width:400px">
                          <input type="text" class="form-control" placeholder="User Name*" value=""
                              name="username" required />
                      </div>
                        <br>
                        <div class="form-group" style="width:400px">
                          <input type="password" minlength="4" maxlength="10" class="form-control"
                              placeholder="Password*" value="" name="pass1" required />
                      </div> {% endcomment %}
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg" style="color:white; width:400px">Login</button>
                        <div class="text-center my-3">
                          <a href="{% url 'password_reset' %}">Forget Password</a>
                      </div>
                      <hr>
                        <p class="message"> Don't have an Account??<a href="/sign/">Create One.</a></p>
                        
                      </form>
                    </div>
                  </div>
  
                </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
 

{% endblock %}

{% block 'footer' %}
{% endblock %}

