{% extends 'base/adminbase.html' %}
{% load crispy_forms_tags %}
{% load static %}




{% block 'body' %}
 
<!--**********************************
            Content body start
        ***********************************-->
        <section class="vh-100" style="background-color: #eee;">
            <br>
            <br>
            <div class="content-body">
                <div class="container-fluid mt-5" style="margin-left: 10px; margin-right: 10px">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6">
                            <div class="card gradient-2">
                                <div class="card-body">
                                    <h3 class="card-title text-white">My Total Booking</h3>
                                    <div class="d-inline-block">
                                        <h2 class="text-white">{{ bookings.count }}</h2>
                                    </div>
                                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card gradient-1">
                                <div class="card-body">
                                    <h3 class="card-title text-white" style="font-family: Arial, sans-serif;font-size: 24px;">My Total Payment </h3>
                                    <div class="d-inline-block">
                                        <h2 class="text-white">{{ payment_history.count }}</h2>
                                    </div>
                                    <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card gradient-3">
                                <div class="card-body">
                                    <h3 class="card-title text-white" style="font-family: Arial, sans-serif;font-size: 24px;">Total Messages</h3>
                                    <div class="d-inline-block">
                                        <h2 class="text-white">{{ total_messages_count }}</h2>
                                    </div>
                                    <span class="float-right display-5 opacity-5"><i class="fa fa-envelope"></i></span>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
        



    <section style="height:50px">
        <!--**********************************
           Sidebar start
       ***********************************-->
       <div class="nk-sidebar">
           <div class="">
               <br>
               <ul class="metismenu" id="menu">
                   <li>
                       <a href="{% url 'dashboard_renter' %}" aria-expanded="false">
                           <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                       </a>
                   </li>
                
                   <li class="mega-menu mega-menu-sm">
                       <a class="has-arrow">
                           <i class="icon-screen-tablet menu-icon"></i>
                           <span class="nav-text">Tenant</span>
                       </a>
                       <ul>
                    
                        <li><a href="{% url 'messages' %}">messages</a></li>
                        <li>
                            <a href="{% url 'payments' %}">Payment history</a>
                        </li>

                       
                        <li>
                            <a href="{% url 'books' %}">Books</a>
                        </li>
                       </ul>
                   </li>
                   {% comment %} {% endif %} {% endcomment %}
               </ul>
           </div>
       </div>
       <hr style="border-color: black; border-width: 2px; margin-top: 20px; margin-bottom: 20px; width:200px;">
   </section>
    {% endblock %}

    